{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Bookings</h2>
<div>
	<strong>FB ID</strong>
	<strong>City</strong>
	<strong>Start date</strong>
	<strong>End date</strong>
	<strong>Activity</strong>
	<strong>Current booking </strong>
	<strong>New booking</strong>

{% for book in bookings %}
    <div>
		<p>{{ book.fbid }}</p>
		<p>{{ book.city  }}</p>
		<p>{{ book.start }}</p>
		<p>{{ book.end }}</p>
		<p>{{ book.activity }}</p>
		<p>{{ book.date }}</p>
	</div>
{% endfor %}

</ul>

</div>

{% endblock %}