{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Bookings</h2>
<table style="width:100%">
  <tr>
    <th>FB ID</th>
    <th>City</th> 
    <th>Start date</th>
	<th>End date</th>
	<th>Activity</th>
	<th>Current booking</th>
	<th>Booking Zone</th>
  </tr>
  {% for book in bookings %}
  <tr>
    <td>{{ book.fbid }}</td>
	<td>{{ book.city  }}</td>
	<td>{{ book.start }}</td>
	<td>{{ book.end }}</td>
	<td>{{ book.activity }}</td>
	<td>{{ book.date }}</td>
	<td>
		<form action="">
			New Booking date: <input type="text" name="fname"><br>
			<input type="submit" value="Submit">
		</form>
	</td>
  </tr>
  {% endfor %}
  
</table>
	
</div>

{% endblock %}