{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Bookings</h2>
<table style="width:100%">
  <tr>
    <th>FB ID</th>
    <th>City</th> 
    <th>Start date</th>
	<th>End date</th>
	<th>Activity</th>
	<th>Current booking</th>
	<th>Booking Zone</th>
  </tr>
  {% for book in bookings %}
  <tr>
    <td>{{ book.fbid }}</td>
	<td>{{ book.city  }}</td>
	<td>{{ book.start }}</td>
	<td>{{ book.end }}</td>
	<td>{{ book.activity }}</td>
	<td>{{ book.date }}</td>
	<td>
		<form action="/bookings" method="post">
			<input type="hidden" name="fbid" value="{{ book.fbid }}">
			<input type="hidden" name="city" value="{{ book.city }}">
			<input type="hidden" name="tripid" value="{{ book.tripid }}">
			<input type="hidden" name="locid" value="{{ book.locid }}">
			<input type="text" name="newdate">
			<input type="submit" value="Book">
		</form>
	</td>
  </tr>
  {% endfor %}
  
</table>
	
</div>

{% endblock %}