{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Trip Report</h2>


<ul>

{% for trip in trips %}
    <li>{{ trip.fbid }}</li>
	<li>{{ trip.tripid }}</li>
	<li>{{ trip.city  }}</li>
	<li>{{ trip.actuals }}</li>
	<li>{{ trip.actualstime }}</li>
{% endfor %}


</ul>

<a href="https://secure.booking.com/confirmation.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaGyIAQGYATG4AQjIAQzYAQHoAQH4AQKSAgF5qAID;sid=8c95b59e491ceb52fe5d92e275a8dfc0;auth_key=wXlnaj3HZS7JUeJX;bp_travel_purpose=leisure;hostname=www.booking.com;source=book;ua_created=0&" />

</div>

{% endblock %}